<ion-view class="venue-view">
  <ion-nav-title>
    <span>Select Event</span>
  </ion-nav-title>
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="true">
        <ion-list options="options" slider="data.slider">
            <ion-checkbox ng-repeat="event in events" ng-change="addevents(event)" ng-model="event.selected">
                <ion-slide-page>
                    <div class="{{event.type}}-event" style=" border-radius: 5px; height: 100px;">
                        <span style="color: #FFFFFF; font-size: 16px; font-size: calc(12px + 4px); font-weight: 500; display: block; text-align: center; line-height: 100px">{{event.name}}</span>  
                    </div>
                </ion-slide-page>
                <div class="spacer" style="height: 10px;"></div>
            </ion-checkbox>
        </ion-list>

        <a href="" type="submit" ng-click="createschedule()" id="login-button1" class="button button-assertive  button-block">Update Schedule</a>


    </ion-content>
</ion-view>