<ion-view class="event-view">
  <ion-nav-buttons side="right">
    <a class="button button-icon icon ion-share share-event" ng-click="shareEvent(event)"></a>
  </ion-nav-buttons>
  <ion-nav-title>
    <span>{{event.type}} &nbsp;({{event.status=='INVITE'? 'INVITE ONLY':event.status}})</span>
  </ion-nav-title>
  <div class="bar bar-subheader bar-dark">
    <h1 class="title">{{event.name}}</h1>
  </div>
  <ion-content class="has-subheader">
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="getevent()">
    </ion-refresher>
    <!--
    <ion-slide-box ng-show="event.speakers.length > 1" auto-play="true" does-continue="true">
      <ion-slide ng-repeat="speaker in event.speakers">
        <div style="width:100vw; overflow:hidden;">
          <img class="speaker-image" ng-src="{{speaker.image}}" />
        </div>
      </ion-slide>
    </ion-slide-box>-->
    <img ng-show="event.image" class="speaker-image" ng-src="{{event.image}}" />
    <div class="event-details">
      <span class="event-title" ng-bind-html="event.title"></span>
      <span ng-show="event.speakers.length>0" class="event-speakers">By
        <span class="event-speaker" ng-repeat="speaker in event.speakers">{{speaker.name}}<span class="event-speaker-concat">{{$last ? '' : ' & '}}</span></span>
      </span>
      <span ng-show="event.moderator && event.in_main_program" class="event-speakers">
        Moderator
        <span class="event-speaker" >{{event.moderator.name}}</span>
      <br>
      </span>
      <span ng-show="event.panelists.length>0 && event.in_main_program" class="event-speakers">
        Panelists
        <span class="event-speaker" ng-repeat="speaker in event.panelists">{{speaker.name}}<span class="event-speaker-concat">{{$last ? '' : ' & '}}</span></span>
      </span>
    </div>
    <div ng-if="event.description" class="event-description">
      <p ng-bind-html="event.description"></p>
    </div>
    <div  ng-repeat="day in schedule">
      <div class="item item-divider">
        <div>
          {{day.date |date:'mediumDate'}}
          <b ><span class="item-note" ><span style="float: right">{{day.date |date:'EEEE'}}</span><br>{{event.location}}</span></b>
        </div>
      </div>

      <div ng-repeat="time in day.events" class="padding">
        <h6>{{time.start|date:'shortTime'}} - {{time.end|date:'shortTime'}}</h6>
        <b ng-if="!time.is_break"><h5 style="padding-left: 60%">{{time.topic}}</h5></b>
        <b ng-if="time.is_break"><h5 style="padding-left: 60%">Break</h5></b>
      </div>
      <br>
      <!--<div class ="padding"> 
         <h6>12.00 PM - 2.00 PM</h6>
         <b><h5 style="padding-left: 60%">Lunch Break</h5></b>
        </div>
        <br>

        <div class ="padding">
         <h6>2.00 PM - 4.00PM</h6>
         <b><h5 style="padding-left: 60%">Lean Canvas</h5></b><br>
        </div>-->

    </div>
  </ion-content>
</ion-view>