<ion-view class="venue-view">
<ion-nav-bar class = "bar app-top-bar">
  <ion-nav-title>
    <span>Select Events</span>
  </ion-nav-title>
</ion-nav-bar>
   <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="true">
                <form id="login-form1" class="list">
                <div class="spacer" style="height: 30px;"></div>
                <img src = "img/signup.png" width="100%" style=" display: block; margin: 0 auto;">
                <div class="spacer" style="height: 20px;"></div>
  
                <ion-list id="login-list">

                    <label class="item item-select" id="page-select1">
                      <span class="input-label">Select Category *</span>
                        <select>
                          <option>Delegate</option>
                          <option>Sponsor</option>
                          <option>Organizer</option>
                        </select>
                    </label>

                    <div class="spacer" style="height: 25px;"></div>

                    <a href ="#" class="button button-assertive  button-block button-clear">Select Events To Attend Below</a>

      
                </ion-list>
                </form>


          <ion-slides  options="options" slider="data.slider">
              <ion-slide-page>
                <div style="background-color: brown; border-radius: 5px; height: 160px;">
                <p style="color: #FFFFFF; font-size: 16px; font-size: calc(12px + 4px); font-weight: 500; display: block; text-align: center; line-height: 150px">IP Masterclass</p>
                </div>
              </ion-slide-page>
              <div class="spacer" style="height: 10px;"></div>

              <ion-slide-page>
                <div style="background-color: yellowgreen; border-radius: 5px; height: 160px;">
                <p style="color: #FFFFFF; font-size: 16px; font-size: calc(12px + 4px); font-weight: 500; display: block; text-align: center; line-height: 150px">Design Thinking</p>    
                </div>   
              </ion-slide-page>
              <div class="spacer" style="height: 10px;"></div>

              <ion-slide-page>
                <div style="background-color: mediumseagreen; border-radius: 5px; height: 160px;">
                <p style="color: #FFFFFF; font-size: 16px; font-size: calc(12px + 4px); font-weight: 500; display: block; text-align: center; line-height: 150px">Sense With Cents</p>    
                </div>   
              </ion-slide-page>
                <div class="spacer" style="height: 10px;"></div>

              <ion-slide-page>
                <div style="background-color:lightgray; border-radius: 5px; height: 160px;">
                <p style="color: #FFFFFF; font-size: 16px; font-size: calc(12px + 4px); font-weight: 500; display: block; text-align: center; line-height: 150px">Connected Future</p>
                </div>
              </ion-slide-page>
              <div class="spacer" style="height: 10px;"></div>

              <ion-slide-page>
                <div style="background-color: indianred; border-radius: 5px; height: 160px;">
                <p style="color: #FFFFFF; font-size: 16px; font-size: calc(12px + 4px); font-weight: 500; display: block; text-align: center; line-height: 150px">Data Cooking Lab</p>    
                </div>   
              </ion-slide-page>
              <div class="spacer" style="height: 10px;"></div>

              <ion-slide-page>
                <div style="background-color: mediumvioletred; border-radius: 5px; height: 160px;">
                <p style="color: #FFFFFF; font-size: 16px; font-size: calc(12px + 4px); font-weight: 500; display: block; text-align: center; line-height: 150px">Bikeshare Marathon</p>    
                </div>   
              </ion-slide-page>
                <div class="spacer" style="height: 10px;"></div>

              <ion-slide-page>
                <div style="background-color: orange; border-radius: 5px; height: 160px;">
                <p style="color: #FFFFFF; font-size: 16px; font-size: calc(12px + 4px); font-weight: 500; display: block; text-align: center; line-height: 150px">Education Curriculum Reforms</p>
                </div>
              </ion-slide-page>
              <div class="spacer" style="height: 10px;"></div>

              <ion-slide-page>
                <div style="background-color: cornflowerblue; border-radius: 5px; height: 160px;">
                <p style="color: #FFFFFF; font-size: 16px; font-size: calc(12px + 4px); font-weight: 500; display: block; text-align: center; line-height: 150px">Commercialisation of Research</p>    
                </div>   
              </ion-slide-page>
              <div class="spacer" style="height: 10px;"></div>

        </ion-slides>

        <a href = "#/selectevent" id="login-button1" class="button button-assertive  button-block">Create Your Schedule</a>
                
                
    </ion-content>
</ion-view>
