<div class="row">
  <div class="col event-time">
    <span class="time-from">{{event.start}}</span>
    <span ng-show="event.end" class="time-to">to {{event.end |date:'time'}}</span>
  </div>
  <a ng-if="event.event.type !== 'global'" class="col col-75 event-content {{event.event.type}}" style="background-image:url({{event.event.speakers[0].image}})" ui-sref="app.event({id: event.event.id})">
    <p class="event-title" ng-bind-html="event.event.name"></p>
    <p class="event-speakers" ng-show="{{event.event.speakers }}">
      <span ng-repeat="speaker in event.event.speakers">{{speaker.name}}{{$last ? '' : ', '}}</span>
    </p>
    <p class="event-room" ng-show="event.event.location">{{event.event.location}}</p>
    <div class="event-type-tag {{event.event.type+'-event'}}">{{event.event.type}}</div>
  </a>
  <div ng-if="event.event.type === 'global'" class="col col-75 event-content {{event.event.type}}">
    <p class="event-title" ng-bind-html="event.event.name"></p>
    <p class="event-room">{{event.event.location}}</p>
  </div>
</div>
